.galleryItem {
  width: 320px;
  border-radius: 8px;
}

.image {
  width: 100%; /* Установите ширину для контейнера изображения */
  height: 220px; /* Установите желаемую высоту для контейнера изображения */
  cursor: pointer;
  object-fit: cover;
}
